{% extends 'base.html' %}

{% block header %}
    <h1 class="header">Добавление статьи про автомобиль</h1>
{% endblock %}

{% block content %}
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
    <form action="{{ url_for('main.add_car') }}" method="post" class="form-car">
        <p><label>Бренд: </label> <input type="text" name="brand" value="" required />
        <p><label>Модель: </label> <input type="text" name="model" value="" required />
        <p><label>Поколение: </label> <input type="text" name="generation" value="" required />
        <p><label>Серия: </label> <input type="text" name="series" value="" required />
        <p><label>Модификация: </label> <input type="text" name="modification" value="" required />
        <p><label>Комплектация: </label> <input type="text" name="equipment" value="" required />
        <p><label>Цена: </label> <input type="text" name="price" value="" required />
        <p><label>Впечатления об автомобиле: </label>
        <p><label>
            <textarea name="information" rows=10 required></textarea>
        </label>
        <p><input type="submit" value="Добавить статью" />
    </form>
    <p><a class="exit" href="{{ url_for('main.profile') }}"><input type="submit" value="Назад" /></a>
{% endblock %}