{% extends 'base.html' %}

{% block header %}
    <h1 class="header">Статья про авто</h1>
{% endblock %}

{% block content %}
    <div class="content">
        <p><label>Бренд: <b>{{ post.brand }}</b></label>
        <p><label>Модель: <b>{{ post.model }}</b></label>
        <p><label>Поколение: <b>{{ post.generation }}</b></label>
        <p><label>Серия: <b>{{ post.series }}</b></label>
        <p><label>Модификация: <b>{{ post.modification }}</b></label>
        <p><label>Комплектация: <b>{{ post.equipment }}</b></label>
        <p><label>Цена: <b>{{ post.price }}</b></label>
        <p><label>Впечатления об автомобиле:</label>
        <p><pre><b>{{ post.information }}</b></pre>
    </div>
{% endblock  %}