{% extends 'base.html' %}

{% block header %}
    <h1 class="header">Информация о пользователе</h1>
{% endblock %}

{% block content %}
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
    <form action="/edit" method="post" class="form-contact">
        <p><label>Имя: </label> <input type="text" name="name" value="" placeholder="{{ current_user.name }}" />
        <p><label>Email: </label> <input type="text" name="email" value="" placeholder="{{ current_user.email }}"/>
        <p><label>Пароль: </label> <input type="password" name="password" value="" placeholder="****"/>
        <p><label>Повторите пароль: </label> <input type="password" name="password2" value="" placeholder="****"/>
        <p><input type="submit" value="Сохранить" />
    </form>
    <p><a class="exit" href="{{ url_for('main.profile') }}"><input type="submit" value="Назад" /></a>
{% endblock %}