{% extends 'base.html' %}

{% block header %}
    <h1 class="header">Сайт про автомобили</h1>

{% endblock %}

{% block content %}
    <p class="information">Здесь можно делиться с людьми впечатлениями, плюсами и
        минусами, стоимостью данной машины.</p>
    <p class="information">Целевая аудитория: автолюбители, люди, покупающие машину
    <p class="information">Этот проект помогает помочь людям узнать недостатки и
        достоинства автомобиля при приобретении или для ознакомления.</p>

{% endblock %}