{% extends 'base.html' %}

{% block header %}
    <h1 class="header">Авторизация</h1>
{% endblock %}


{% block content %}
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
    <form action="/login" method="post" class="form-contact">
        <p><label>Email: </label> <input type="text" name="email" value="" required />
        <p><label>Пароль: </label> <input type="password" name="password" value="" required />
        <p><input type="checkbox" name="remember" /> Запомнить меня
        <p><input type="submit" value="Войти" />
        <hr align=left width="300px">
        <p><a href="{{ url_for('auth.register') }}">Регистрация</a>
    </form>
{% endblock %}