{% extends 'base.html' %}

{% block header %}
    <h1 class="header">Мои статьи</h1>
{% endblock %}

{% block content %}
    {% for m in cars %}
    <li class="content"><a href={{ url_for('main.post_id', id_post=m.id) }}>{{ m.brand }} {{ m.model }} {{ m.generation }}</a> </li>
    {% endfor %}
    <p><a class="exit" href="{{ url_for('main.profile') }}"><input type="submit" value="Назад" /></a>
{% endblock %}

