{% extends 'base.html' %}

{% block header %}
    <h1 class="header">Добро пожаловать, {{ current_user.get_name() }}!</h1>
{% endblock %}

{% block content %}
    <p class="content"><a href="{{ url_for('main.add_car') }}">Добавить статью</a>
    <p class="content"><a href="{{ url_for('main.my_cars') }}">Мои статьи</a>
    <p class="content"><a href="{{ url_for('main.edit_profile') }}">Редактирование профиля</a>
    <p class="content"><a href="{{ url_for('auth.logout') }}">Выйти из профиля</a>
{% endblock %}