{% extends 'base.html' %}

{% block header %}
    <h1 class="header">Регистрация</h1>
{% endblock %}


{% block content %}
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
    <form action="/register" method="post" class="form-contact">
        <p><label>Имя: </label> <input type="text" name="name" value="" required />
        <p><label>Email: </label> <input type="text" name="email" value="" required />
        <p><label>Пароль: </label> <input type="password" name="password" value="" required />
        <p><label>Повторите пароль: </label> <input type="password" name="password2" value="" required />
        <p><input type="submit" value="Регистрация" />
    </form>
    <p><a class="exit" href="{{ url_for('auth.login') }}"><input type="submit" value="Назад" /></a>
{% endblock %}