{% extends 'base.html' %}

{% block header %}
    <h1 class="header">Автомобили пользователей</h1>
{% endblock %}

{% block content %}
    {% for m in cars %}
    <li class="content"><a href={{ url_for('main.post_id', id_post=m.id) }}>{{ m.brand }} {{ m.model }} {{ m.generation }}</a> </li>
    {% endfor %}
{% endblock %}