html, body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a {
    color: #0059b2;
    text-decoration: none;
}
a:hover {
    color: #CC0000;
    text-decoration: underline;
}

.clear {
    clear: both;
}

ul.mainmenu {
    list-style: none;
    background: #373941;
    height: 60px;
    margin: 0;
    padding: 0;
    color: #73cdfd;
    font-size: 20px;
    overflow: hidden;
}
ul.mainmenu li {
    float: left;
    margin: 18px 40px 0 50px;
}
ul.mainmenu li.last {
    float: right;
}
ul.mainmenu li a {
    color: #73cdfd;
    text-decoration: none;
}
ul.mainmenu li a:hover {
    color: #4d39fd;
}

.header {
    margin: 10px;
}

.information {
    margin: 10px;
    font-size: 20px;
}

.content {
    margin: 10px;
}

.form-contact label {
    display: inline-block;
    min-width: 70px;
}
.form-contact p {
    margin: 10px 0 10px 10px;
}
.form-contact input[type=submit], textarea {
    font-size: 16px;
}

.form-car label {
    display: inline-block;
    min-width: 120px;
}
.form-car p {
    margin: 10px 0 10px 10px;
}
.form-car input[type=submit]{
    font-size: 16px;
}

.form-car textarea{
    font-size: 16px;
    resize: none;
	width: 1000px;
	height: 300px;;
}

.exit {
    min-width: 70px;
    margin: 10px 0 10px 10px;
}

.exit input[type=submit] {
    font-size: 16px;
}


.flash {padding: 10px}
.flash.logout {
    border: 1px solid #2162db;
    background: #aeb5ff;
}
.flash.success {
    border: 1px solid #21DB56;
    background: #AEFFC5;
}
.flash.error {
    border: 1px solid #FF4343;
    background: #FF9C9C;
}